#logo {
  width: 200px;
  height: 70px;
  margin-left: 20px;
}

#linkUno,
#linkDos {
  text-decoration: none;
  color: white;
  margin-right: 20px;
  font-size: 25px;
  font-weight: 900;
}

#linkUno.active,
#linkDos.active {
  color: red;
  font-weight: bold;
}
