#tarjeta {
  display: flex;
}

#cardImg {
  width: 350px;
  margin: 20px;
}

#cardBody {
  padding: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#cardType{
    width: 160px;
}

#boton{
    width: 100%;
    display: flex;
    justify-content: center;
}

Button {
    width: 40%;
}